<div class="main-content">
    <div class="row">
    
        <div class="large-12 columns">
            
            <div class="panel">
                <div class="row">
                    <div class="large-9 medium-9 small-12 columns revs">
                        <div class="large-2 medium-2 small-2 columns">
                            <img class="responsive" src="http://placehold.it/300x250&amp;text=[things]">
                        </div>
                        <div class="large-10 medium-10 small-10 columns">
                            <h3>SEO Tool Reviews</h3>
                            <p>
                                SiteGround is our number one recommended host. With robust features, fantastic prices, and outstanding customer service reviews put them a cut above the competition. Offering a range of shared packages, cloud VPS, reseller and managed dedicated hosting solutions, SiteGround truly offers premium hosting for a wide range of customers.
                            </p>
                        </div>
                    </div>
            
                    <div class="large-3 columns text-center">
                        <h3>7.5</h3>
                        <div class="progress small-12 large-12 alert round">
                          <span class="meter" style="width: 84%"></span>
                        </div>
                    </div>
                </div>
            </div>
            
            
            <div class="panel">
                <div class="row">
                    <div class="large-9 medium-9 small-12 columns revs">
                        <div class="large-2 medium-2 small-2 columns">
                            <img class="responsive" src="http://placehold.it/300x250&amp;text=[things]">
                        </div>
                        <div class="large-10 medium-10 small-10 columns">
                            <h3>VPN Reviews</h3>
                            <p>
                                VPN is our number one recommended host. With robust features, fantastic prices, and outstanding customer service reviews put them a cut above the competition. Offering a range of shared packages, cloud VPS, reseller and managed dedicated hosting solutions, SiteGround truly offers premium hosting for a wide range of customers.
                            </p>
                        </div>
                    </div>
            
                    <div class="large-3 columns text-center">
                        <h3>7.5</h3>
                        <div class="progress small-12 large-12 alert round">
                          <span class="meter" style="width: 84%"></span>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    
    </div>
</div>