// Place all the styles related to the front controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Exo+2:400,200,300,100|Open+Sans:400,300);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,300|Roboto+Mono:300,100|Roboto+Slab:300,100);

$font-weight: 300;
$primary-color: #71B238;
$primary-text-color: #ffffff;

$score-back-color: #CC3333;
$score-text-color: #fff;

body{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    background: #f1f1f1;
    background: #efebe3;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-weight: $font-weight;
}
a:hover{
    color: #000;
    background: none;
}
img.responsive {
  width: 100%;
}
.panel{
    background: #ffffff;
}
.thin{
    font-weight: 100;
}
.panel:before, .panel:after{
    display: table;
    content: " ";
}
#logo{
    height: 50px;
}
nav.top-bar{
    padding: 0.5rem;
    height: 4rem;
    margin: 0;
    ul {
        li{
            
            a{
                font-family: 'Open Sans';
                font-size: 1.1em;
                font-weight: 100;
            }
        }
    }
}
.rev-box{
    border-radius: 3px;
    .panel{
        border: none;
        background: #ffffff;
         padding: 0;
    }
    .score{
        font-size: 1.5em;
        font-weight: 700;
        display: inline-block;
        background: $score-back-color;
        color: $score-text-color;
        border-radius: 8px;
        padding: 1em;
    }
    .button{
        font-family: 'Open Sans';
        font-size: 1.4em;
        font-weight: 100;
    }
}

.subcat-heading, .search-heading{
    font-family: 'Roboto Slab';
    font-size: 3em;
    font-weight: 300;
    .thin{
        font-weight: 100;
    }
}
.subcat-review-list{
    .panel:first-child{
        border: 2px solid #A6635D;
        .title a{
            color: #A6635D;
        }
    }
    .panel{
        border: 2px solid #d2d2d2;
        border-radius: 5px;
    }
}

.revs{
    .title a{
        color: #587058;
        font-size: 1.3em;
    }
    .price{
        color: #E45641;
        font-weight: 500;
    }
    .description{
        font-size: 1.2em;
        line-height: 1.5;
        font-weight: 300;
    }
    .our-score{
        background: #f7c732;
        margin-bottom: 0.5em;
        border-radius: 5px;
        font-family: "Roboto Slab";
        .score{
            font-size: 2em;
            padding: 0.3em;
            font-weight: 700;
        }
        .bottom{
            background: #7C7062;
            color: #ffffff;
            padding: 0.5em;
            border-radius: 0 0 5px 5px;
        }
    }
}

.rev-cat-bottom{
    div{
        background: #EED7D2;
        padding: 0.5em;
        font-weight: 300;
        font-size: 20px;
        font-weight: 400;
    }
    div:first-child{
        background: #EFEBD6;
        font-weight: 100;
    }
}
.featured {
    h2{
        font-family: 'Roboto Slab';
        font-size: 4em;
        font-weight: 200; 
    }
    .rev-box .panel:hover{
        background: #d2d2d2;
        color: $primary-text-color;
        box-shadow: 0 0 8px rgba(0,0,0,0.4);
        h3{
            color: $primary-text-color;
        }
    }
}
.rev-box .callout{
    padding: 1.25rem;
}
.rev-box h3{
    font-size: 25px;
    color: #444;
    padding: 0.5em 0;
}

.review-list{
    background: #ffffff;
}
.main-search{
    padding: 2em 0 6em 0;
    background: #d2d2d2 url(http://hdwallpaperia.com/wp-content/uploads/2013/12/Great-Wallpapers-Free-Downloads.jpg);
    background-size: cover;
    
    &.panel{
        border: none;
    }
    h2{
        color: #ffffff;
        padding: 1em;
        font-family: 'Roboto Slab';
        font-size: 4em;
        font-weight: 200;
        &::before{
            content: " ";
            display: block;
            position: relative;
            left: 50%;
            top: 0;
            width: 25px;
            height: 5px;
            background: #ffffff;
        }
    }
    input, button {
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        font-size: 1.5em;
        height: 50px;
    }
}
.top-revs-list{
    
    border-radius: 5px;
    
    .panel{
        background: #fff;
        border: none;
    }
    .heading{
        margin-bottom: 1em;
        border-bottom: 1px solid $primary-color;
        color: $primary-color;
        padding: 0.3em;
    }
    .latest-reviews{
        font-size: 1.3em;
        margin-bottom: 1em;
        .score{
            padding: 0.5em;
            font-size: 1.4em;
            background: $score-back-color;
            color: $score-text-color;
        }
        .title{
            
        }
    }
}

.inner-search{
    padding-top: 3em;
    &.panel{
        background: rgba(255,255,255,0.5);
    }
}
.review-details{
    margin-top: 1rem;
    font-family: 'Open Sans', sans-serif;
    .left .panel{
        border-top: 3px solid $primary-color;
    }
    .right .panel{
        border-top: 3px solid #F37E71;
        box-shadow: 0 0 8px rgba(0,0,0,0.12);
    }
    .title{
        margin: 0.5em 0 1em 0;
        font-family: 'Roboto Slab';
        font-weight: 300;
    }
    p{
        font-size: 1.1em;
        line-height: 1.5;
    }
    .info{
        .price{
            font-family: 'Roboto Slab';
            font-size: 4em;
            font-weight: 500;
            line-height: 1.2;
            border-top: 1px solid #C25B56;
            border-bottom: 1px solid #C25B56;
            padding: 0.3em 0;
            color: #C25B56;
        }
        .all-ratings{
            margin: 1.5em 0;
            .heading{
                color: #787A40;
                padding: 0.3em 0;
                border-bottom: 2px solid #787A40;
                margin-bottom: 0.6em;
            }
            .rating{
                margin: 0.5em 0 0.3em 0;
                font-size: 1.2em;
            }
            .progress {
                background-color: #aaa;
                border: 1px solid #fff;
                height: 1rem;
                margin-bottom: 0.625rem;
                padding: 0;
            }
        }
    }
    
}
.main-content{
    margin-top: 1em;
}
.recommended{
    .title{
        font-family: 'Roboto Slab';
        font-weight: 100;
        font-size: 2.5rem;
    }
}
footer{
    
    color: #d2d2d2;
    .footer-top{
        background: #494949;
        .title{
            color: #B0B0B0;
        }
    }
    .panel{
        background: none;
        border: none;
    }
    .footer-highlight{
        h3{
            color: #a1a1a1;
            a{
                color: #a1a1a1;
            }
            i{
                padding: 0.5em;
                background: #6E6E6E;
            }
        }
        h5{
            color: #a1a1a1;
        }
    }
    .footer-bottom{
        background: #353535;
        border-top: 1px solid #222;
        color: #ffffff;
        padding: 0.5rem;
    }
}